<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.btpj.module_mine">

    <application>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.login.register.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.integral.record.IntegralRecordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.integral.rank.IntegralRankActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.share.add.AddArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.share.list.MyArticleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ip.ChangeIpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.collect.CollectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>