<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <activity
            android:name=".widgets.Title"
            android:exported="false"
            android:label="@string/title_activity_title"
            android:theme="@style/Theme.WanAndroid" />
    </application>

</manifest>