<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btpj.module_web">

    <application>
        <activity
            android:name=".ui.web.WebActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>